{% if references|length > 0 %}
  <twig:page-container class="py-4 border-t border-outline dark:border-outline-invert">
    <h2 class="mb-4 text-lg font-colombia">
      {{ 'app.markup.reference_link.title'|trans }}
    </h2>
    <ul class="text-sm max-h-60 overflow-y-auto">
      {% for reference in references %}
        <li id="ref-link-{{ reference.index }}">
          <a href="#ref-{{ reference.index }}">
            {{ reference.index }}<sup>↑</sup>
          </a> - {{ reference.href }}
        </li>
      {% endfor %}
    </ul>
  </twig:page-container>
{% endif %}
