<li>
  <a href="{{ url }}"
     title="{{ label }}"
     class="flex flex-col items-center justify-center gap-2 w-24 h-24 p-1 {{ last|default(false) ? 'border-t' : 'border-b' }} border-outline-invert -outline-offset-2 transition-colors hover:bg-white/5">
	
    <img src="{{ iconSrc }}"
         alt="{{ label }} icon"
         class="block w-10 h-10"
         loading="lazy">
	
    <div class="text-center font-light">{{ label }}</div>
  </a>
</li>
