{% extends "emails/base.html.twig" %}

{% block meta_title %}
  {{ 'app.emails.community.password_forget.title'|trans }} - {{ parent() }}
{% endblock %}

{% block title %}
  {{ 'app.emails.community.password_forget.title'|trans }}
{% endblock %}

{% block content %}
  {# TITLE #}
  <tr>
    <td style="line-height: 1.5;">
      {{ 'app.emails.community.password_forget.message'|trans }}
    </td>
  </tr>
  {# END TITLE #}

  {# SPACER #}
  <tr>
    <td height="15" style="line-height: 0; font-size: 0;">&nbsp;</td>
  </tr>
  {# END SPACER #}

  {% set url = url('sulu_community.password_reset', { token: user.passwordResetToken }) %}
  
  {# BUTTON #}
  <tr>
    <td>
      <a
        href="{{ url }}"
        title="{{ url }}"
        style="color: black; text-decoration: none"
      >
        <table
          border="0"
          cellspacing="0"
          cellpadding="0"
          align="center"
          style="border: 1px solid rgb(228 228 231);"
        >
          <tr>
            <td width="20"></td>
            <td height="45" style="font-size: 16px;">
              {{ 'app.emails.community.password_forget.button_label'|trans }}
            </td>
            <td width="20"></td>
          </tr>
        </table>
      </a>
    </td>
  </tr>
  {# END BUTTON #}

  {# SPACER #}
  <tr>
    <td height="10" style="line-height: 0; font-size: 0;">&nbsp;</td>
  </tr>
  {# END SPACER #}

  {# ALT LINK #}
  <tr>
    <td align="center">
      <a
        href="{{ url }}"
        style="font-size: 12px;color:#000000; text-decoration: none"
      >
        {{ url }}
      </a>
    </td>
  </tr>
  {# END ALT LINK #}
{% endblock %}
