<turbo-frame id="smart-pages-frame-{{ id }}" data-turbo-action="advance">
	<div class="{{ null != previousBlockType ? 'my-12' : 'mb-12' }}">
		<twig:card-grid id="smart-pages-{{ id }}">
			{% for page in content.pages %}
				<a href="{{ sulu_content_path(page.url) }}" data-turbo-frame="_top">
					<twig:card :image="page.excerpt.images[0]|default(page.coverImage|default(null))">
						<twig:block name="title">
							{{ page.excerptTitle|default(page.title) }}
						</twig:block>

						{{ page.excerptDescription }}
					</twig:card>
				</a>
			{% endfor %}
		</twig:card-grid>
		
		<twig:page-container>
			<twig:smart-content-pagination
				:view="view.pages"
				smartContentId="smart-pages-{{ id }}"
			/>
		</twig:page-container>
	</div>
</turbo-frame>

