{% set coverSize = coverSize|default(content.coverSize|default('small')) %}

{% if coverSize == 'small' %}
  {% set headerHeight = 'min-h-[22rem]' %}
{% elseif coverSize == 'medium' %}
  {% set headerHeight = 'min-h-[75vh]' %}
{% elseif coverSize == 'full' %}
  {% set headerHeight = 'min-h-[100vh]' %}
{% endif %}

<div
  class="relative overflow-hidden w-full dark:border-b border-outline-invert"
  x-data="{
    scrollPosition: window.pageYOffset,
    updateScrollPosition() {
      requestAnimationFrame(() => this.updateScrollPosition());
      if (this.scrollPosition !== window.pageYOffset) {
        this.scrollPosition = window.pageYOffset;
      }
    },
  }"
  x-init="requestAnimationFrame(() => updateScrollPosition())"
>
  <div class="relative w-full {{ headerHeight }} flex flex-col gap-12 py-10 px-8 items-center justify-center bg-gradient-to-b from-black/0 via-black/15 to-black/0 text-white text-center font-light font-colombia"
       x-bind:style="{ transform: 'translate3d(0,' + scrollPosition / 2 + 'px,0)' }">
    <twig:logo />

    <h1 class="text-4xl drop-shadow-vertical leading-normal">
      {{ headerTitle }}
      {% if headerSubtitle|default != null %}
        <br> <small class="italic text-2xl">{{ headerSubtitle }}</small>
      {% endif %}
    </h1>

    {% if headerLinkUrl|default and headerLinkLabel|default %}
      <a href="{{ headerLinkUrl }}"
         class="border border-white px-4 py-2 rounded-full drop-shadow-vertical text-xl bg-white/10 hover:bg-white/20 transition-colors">
        {{ headerLinkLabel }}
      </a>
    {% endif %}
  </div>

  {% set class = 'fixed top-0 z-[-1] w-[100lvw] h-[100lvh] object-cover bg-slate-600' %}

  {% if headerImage|default %}
    {{ get_image(headerImage, {
      src: 'figure',
      srcset: 'figure@2x 2x',
      class: class,
    }) }}
  {% else %}
    <img src="{{ asset('build/website/images/NGC_1952.jpg') }}"
         alt="NGC_1952"
         class="{{ class }}"
         loading="lazy"/>
  {% endif %}
</div>
