{% extends "base.html.twig" %}

{% set headerTitle = content.title %}
{% set headerSubtitle = null %}
{% set coverSize = coverSize|default('full') %}
{% set headerImage = content.coverImage|default %}

{% block content %}
  {% include "includes/_blocks.html.twig" %}

  {% embed "includes/common/_page_container.html.twig" with {
    typoForm: typoForm,
    class: 'my-6',
  } only %}
    {% block content %}
      <turbo-frame id="typo-form">
        {% if app.request.get('typoSend') != 'true' %}
          <twig:expandable>
            <twig:block name="header">
              <h2 class="m-0 text-end text-base font-semibold underline">
                {{ 'app.publication_page.report_typo'|trans }}
              </h2>
            </twig:block>
            
            {{ form(typoForm) }}
          </twig:expandable>
        {% else %}
          <twig:alert variant="success" class="mt-4">
            {{ 'app.publication_page.typo_thanks'|trans }}
          </twig:alert>
        {% endif %}
      </turbo-frame>
    {% endblock %}
  {% endembed %}

  {% if content.definitions|length > 0 %}
    {% embed "includes/common/_page_container.html.twig" with {
      content: content,
      class: 'my-6 py-6 border-t border-outline dark:border-outline-invert',
    } only %}
      {% block content %}
        <h2 class="text-center mb-6 text-2xl font-colombia">
          {{ 'app.publication_page.lexicon_title'|trans }}
        </h2>
        
        {% embed "includes/common/_definition_grid.html.twig" with {
          content: content,
        } only %}
          {% block content %}
            {% for definition in content.definitions %}
              <twig:definition :definition="definition"/>
            {% endfor %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endif %}
  
  <div class="border-t border-outline dark:border-outline-invert">
    <turbo-frame
      id="publication-{{ uuid }}-frame"
      data-turbo-permanent
    >
      {{ render(path('sulu_comment.get_threads_comments', {
        threadId: 'publication-' ~ uuid, 
        referrer: app.request.uri, 
        _format: 'html'
      })) }}
    </turbo-frame>
  </div>
{% endblock %}
