{% extends "base.html.twig" %}

{% set headerTitle = content.title %}
{% set headerSubtitle = null %}
{% set coverSize = coverSize|default('full') %}
{% set headerImage = content.coverImage|default %}

{% block content %}
  {% include "includes/_blocks.html.twig" %}

  {% set typoFormContent %}
    <turbo-frame id="typo-form">
      {% if app.request.get('typoSend') != 'true' %}
        {% set titleContent %}
          <h2 class="text-base text-end font-semibold underline m-0">
            {{ 'app.publication_page.report_typo'|trans }}
          </h2>
        {% endset %}

        {% set bodyContent %}
          {{ form(typoForm) }}
        {% endset %}

        {% include "includes/common/_expandable.html.twig" with {
          'titleContent': titleContent,
          'bodyContent': bodyContent,
        } only %}
      {% else %}
        {% include "includes/common/_alert.html.twig" with {
          'style': 'success',
          'label': 'app.publication_page.typo_thanks'|trans,
          'class': 'mt-4'
        } only %}
      {% endif %}
    </turbo-frame>
  {% endset %}

  {% include "includes/common/_page_container.html.twig" with {
    'content': typoFormContent,
    'class': 'my-6'
  } only %}

  {% if content.definitions|length > 0 %}
    {% set lexiconContent %}
      <h2 class="text-center mb-6 text-2xl font-colombia">
        {{ 'app.publication_page.lexicon_title'|trans }}
      </h2>
      
      {% set definitionGridContent %}
        {% for definition in content.definitions %}
          {% include "includes/common/_definition.html.twig" with {
            'definition': definition,
            'collapseMin': '73px',
          } only %}
        {% endfor %}
      {% endset %}

      {% include "includes/common/_definition_grid.html.twig" with {
        'content': definitionGridContent,
      } only %}
    {% endset %}

    {% include "includes/common/_page_container.html.twig" with {
      'content': lexiconContent,
      'class': 'my-6 py-6 border-t border-outline dark:border-outline-invert'
    } only %}
  {% endif %}
  
  <div class="border-t border-outline dark:border-outline-invert">
    <turbo-frame
      id="publication-{{ uuid }}-frame"
      data-turbo-permanent
    >
      {{ render(path('sulu_comment.get_threads_comments', {
        threadId: 'publication-' ~ uuid, 
        referrer: app.request.uri, 
        _format: 'html'
      })) }}
    </turbo-frame>
  </div>
{% endblock %}
