<article class="shadow-[0_0_0_1px] shadow-zinc-200 dark:shadow-zinc-700">
  <a href="{{ url }}" class="h-full flex flex-col hover:bg-black/5 dark:hover:bg-white/5 transition-colors">
    {% set imageClasses = 'aspect-video object-cover' %}
    {% if image|default(null) %}
      {{ get_image(image, {
        src: 'figure',
        srcset: 'figure@2x 2x',
        class: imageClasses,
      }) }}
    {% else %}
      <img src="{{ asset('build/website/images/NGC_7293.jpg') }}"
           alt=""
           class="{{ imageClasses }}"
           loading="lazy"/>
    {% endif %}
    <div class="p-4">
      <h3 class="font-bold text-lg mb-2">{{- title -}}</h3>
      {{ description|default('')|raw }}
    </div>
  </a>
</article>
