<article class="shadow-fake-border shadow-outline dark:shadow-outline-invert">
  <a href="{{ url }}" class="h-full flex flex-col bg-black/2.5 hover:bg-black/5 dark:bg-black/10 dark:hover:bg-white/2.5 transition-colors">
    {% set class = 'aspect-video object-cover' %}
    {% if image|default(null) %}
      {{ get_image(image, {
        src: 'figure',
        srcset: 'figure@2x 2x',
        class: class,
      }) }}
    {% else %}
      <img src="{{ asset('build/website/images/NGC_7293.jpg') }}"
           alt=""
           class="{{ class }}"
           loading="lazy"/>
    {% endif %}
    <div class="p-4">
      <h3 class="font-bold text-lg mb-2">{{- title -}}</h3>
      {{ description|default('')|raw }}
    </div>
  </a>
</article>
