{% extends 'base_fullart.html.twig' %}

{% set title = 'app.community.password_forget.title'|trans %}

{% block content %}
  {% if app.request.get('send') == 'true' %}
    <twig:Alert
      :type="constant('App\\Components\\ComponentVariant::Success')"
      :label="'app.community.password_forget.success_message'|trans"
    />
  {% else %}
    {{ form_start(form) }}
      {{ form_widget(form) }}

      <div class="col-span-12 flex justify-center gap-2">
        <twig:Button
          :href="path('sulu_community.login')"
          :variant="constant('App\\Components\\ComponentVariant::Error')"
          :bordered="false"
          small
        >
          {{ 'app.back'|trans }}
        </twig:Button>
        <twig:Button type="submit" small>
          {{ 'app.submit'|trans }}
        </twig:Button>
      </div>
    {{ form_end(form) }}
  {% endif %}
{% endblock %}
