{% extends 'base_fullart.html.twig' %}

{% set title = 'app.community.password_forget.title'|trans %}

{% block content %}
  {% if app.request.get('send') == 'true' %}
    <twig:alert variant="success">
      {{ 'app.community.password_forget.success_message'|trans }}
    </twig:alert>
  {% else %}
    {{ form_start(form) }}
      {{ form_widget(form) }}

      <div class="col-span-12 flex justify-center gap-2">
        <twig:button
          :href="path('sulu_community.login')"
          variant="error"
          :bordered="false"
          small
        >
          {{ 'app.back'|trans }}
        </twig:button>
        <twig:button type="submit" small>
          {{ 'app.submit'|trans }}
        </twig:button>
      </div>
    {{ form_end(form) }}
  {% endif %}
{% endblock %}
