{% extends "base.html.twig" %}

{% set headerTitle = 'Recherche' %}
{% set headerSubtitle = null %}

{% block content %}
  {% set searchForm %}
    <form action="{{ path('sulu_search.website_search') }}"
          method="GET"
          class="flex flex-row my-8 bg-black/2.5 dark:bg-black/10 border border-outline dark:border-outline-invert focus-within:border-accent focus-within:outline focus-within:outline-1 focus-within:outline-accent">
      <input name="q"
             type="text"
             placeholder="Système solaire..."
             value="{{ query }}"
             class="flex-grow px-6 py-4 bg-transparent outline-none"/>
      <button type="submit" class="px-6 py-4 hover:bg-black/2.5 focus:bg-black/2.5 dark:hover:bg-white/2.5 dark:focus:bg-white/2.5 transition-colors outline-none">Go</button>
    </form>

    {% if query != "" %}
      <h2 class="font-medium italic text-center">
        {{ hits|length }}
        résultat{{ hits|length > 1 ? 's' : '' }} pour "{{ query }}"
      </h2>
    {% endif %}
  {% endset %}

  {% include "includes/common/_page_container.html.twig" with { 'content': searchForm } only %}

  {% if query != "" and hits|length > 0 %}
    <div class="my-8">
      {% set gridItems %}
        {% for i, hit in hits %}
          {% if hit.document.class == 'Sulu\\Bundle\\PageBundle\\Document\\PageDocument' %}
            {% set page = sulu_content_load(hit.id, {
              'title': 'title',
              'coverImage': 'coverImage',
              'excerptImages': 'excerpt.images',
              'excerptTitle': 'excerpt.title',
              'excerptDescription': 'excerpt.description',
            }) %}
            {% if null != page %}
              {% include "includes/common/_card.html.twig" with {
                url: hit.document.url,
                image: page.content.excerptImages[0]|default(page.content.coverImage|default),
                title: page.content.excerptTitle|default(page.content.title),
                description: page.content.excerptDescription,
              } only %}
            {% endif %}
          {% elseif hit.document.class == 'App\\Entity\\PublicationDimensionContent' %}
            {% include "includes/common/_card.html.twig" with {
              url: hit.document.url,
              title: hit.document.title,
              description: 'Publication',
            } only %}
          {% elseif hit.document.class == 'App\\Entity\\DefinitionTranslation' %}
              {# TODO Add specific definition card #}
              {% include "includes/common/_card.html.twig" with {
                url: hit.document.url,
                title: hit.document.title,
                description: 'Définition',
              } only %}
          {% endif %}
        {% endfor %}
      {% endset %}
      
      {% include "includes/common/_card_grid_container.html.twig" with {
        'content': gridItems,
      } only %}
    </div>
  {% endif %}
{% endblock %}
