{% extends 'skeleton.html.twig' %}

{% set contentClass = contentClass|default %}

{% block body %}
  <img src="{{ backgroundImage|default(asset('build/website/images/NGC_1952.jpg')) }}"
      alt="NGC_1952"
      class="fixed z-[-1] h-screen w-screen object-cover bg-slate-600"
      loading="lazy"/>

  <div class="flex min-h-screen px-2 py-12 bg-black/15">
    <div class="m-auto flex flex-col justify-center items-center gap-8">
      <twig:logo class="mx-4"/>

      <a href="{{ sulu_content_root_path() }}" class="block font-colombia text-xl text-white drop-shadow-vertical group">
        <span class="inline-block group-hover:-translate-x-1 transition-transform">←</span> {{ 'app.back_home'|trans }}
      </a>

      {% if localizations|length > 0 %}
        <li class="flex flex-row items-center justify-center gap-2 text-white font-colombia drop-shadow-vertical">
          {% for localization in localizations %}
            <a
              href="{{ localization.url }}"
              title="{{ localization.locale }}"
              class="{{ localization.locale == app.request.locale ? 'underline' : '' }} hover:opacity-80 transition-opacity"
              data-turbo="false"
            >
                {{ localization.locale|upper }}
            </a>
          {% endfor %}
        </li>
      {% endif %}

      <div class="relative max-w-[28rem] w-full p-8 rounded-md border border-outline dark:border-outline-invert bg-white dark:bg-zinc-800 shadow-md shadow-black/50 {{ contentClass }}">
        {% if title|default %}
          <h1 class="mb-6 text-2xl text-center font-colombia first-letter:uppercase">
            {{ title }}
            {% if subtitle|default %}
              <br> <small>
                {{ subtitle }}
              </small>
            {% endif %}
          </h1>
        {% endif %}

        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  
  {% include "includes/_snack_bar.html.twig" %}
{% endblock %}
